* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

/* Add styles here! */

.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.intro-chunk p {
  width: 100%;
  max-width: 320px;
}

header,
main {
  min-height: 50%;
}

header {
  padding-left: 24px;
  padding-right: 24px;
}

header {
  padding-top: 96px;
}

.title {
  margin-bottom: 48px;
}

.intro-chunk {
  padding-bottom: 64px;
}

strong {
  color: #009966;
}

p {
  line-height: 1.5rem;
}

main {
  border-top: 4px solid hsla(0, 0%, 60%, 1);
  background-color: hsl(30deg 0% 40%);
  padding-top: 72px;
  height: auto;
}

.card {
  background-color: white;
  width: 100%;
  height: fit-content;
}

.card p {
  padding-right: 24px;
  padding-left: 24px;
}

.card p:last-of-type {
  padding-bottom: 24px;
}

.indented-heading {
  background-color: hsla(45, 100%, 50%, 1);
  padding-left: 32px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 16px;
  border-bottom: 4px solid hsla(45, 100%, 40%, 1);
  max-width: fit-content;
  margin-left: -8px;
}

h2 {
  width: 80%;
  margin-top: 0;
}
